
@{
    ViewBag.Title = "Not Found";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="text-align: center; float: left; padding-top: 150px; margin-left: 17%">
    <h2>404 Error</h2>
    <h4>We are very sorry, but your page not found</h4>
</div>
@Sprite.Image("~/App_Sprites/sadcat.png")
