@model MvcPL.Models.Photo.PhotoViewModel
@{
    var base64 = Convert.ToBase64String(Model.Picture);
    var imgSrc = string.Format("data:image/gif;base64,{0}", base64);

    var fullbase64 = Convert.ToBase64String(Model.FullSize);
    var fullimgSrc = string.Format("data:image/gif;base64,{0}", fullbase64);
}
@if (Request.IsAuthenticated)
{
    <a href="@fullimgSrc" class="gallery-link" data-gallery>
        <img src='@imgSrc' class="gallery-image" style="margin-bottom: 7px;" />
    </a>
}
else
{
    <img src='@fullimgSrc' class="gallery-image" style="margin-bottom: 7px;" />
}