@model MvcPL.Models.Photo.PhotoViewModel
<div id=@Model.Id.ToString()>
    @using (Ajax.BeginForm("Like", "Photo", new { photoId = Model.Id, name = Model.UserName },
            new AjaxOptions { UpdateTargetId = Model.Id.ToString(), InsertionMode = InsertionMode.ReplaceWith }))
{
    if (Model.Likes.FirstOrDefault(l => l.UserName == User.Identity.Name) == null)
    {
        <input type="submit" value="Like!" class="btn btn-lg btn-default like-button-style" />
    }
    else
    {
        <input type="submit" value="Like!" class="btn btn-lg btn-danger like-button-style" />
    }
    <p class="likes-count">&nbsp @Model.Likes.Count liked this</p>
}
</div>
